body {
  background-color: #f8f8f8;
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

label {
  display: block;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ddd;
  border-right: solid 1px #ddd;
  width: 310px;
}

label {
  color: #999;
}

#device-picker,
#status {
  color: #000;
}

#device-picker {
  max-width: 250px;
  margin-right: 10px;
  text-align: right;
  height: 28px;
  font-size: 16px;
  border-width: 1px;
}

#selector-picker,
#status {
  color: #000;
}

#selector-picker {
  max-width: 250px;
  margin-right: 10px;
  text-align: right;
  height: 28px;
  font-size: 16px;
  border-width: 1px;
}

#refresh-devices {
  background: rgb(67, 135, 253);
  border: none;
  font-size: 16px;
  color: rgb(255,255,255);
  padding: 10px 15px;
  margin-left: 20px;
}

#toggle-motor {
  background: rgb(67, 135, 253);
  border: none;
  font-size: 16px;
  color: rgb(255,255,255);
  padding: 10px 15px;
  margin-bottom: 5px;
}

input[type="number"] {
  text-align: right;
  height: 20px;
  font-size: 16px;
  border-width: 2px;
}

.slide-box input[type="number"] {
  display: block;
  width: 20%;
  margin: 10px auto;
}

input[type="number"]:disabled {
  background: rgb(211,211,211);
  border:2px solid #cccccc
}

.slide-box input[type="range"] {
  display: block;
   -webkit-appearance:none !important;
  width: 90%;
  margin: 15px auto;
  height: 4px;
  background: rgb(13, 168, 97);
}

.slide-box input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance:none !important;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background: rgb(67, 135, 253);
}

.slide-box input[type="range"]:disabled {
  background: rgb(112,128,144);
}

.slide-box input[type="range"]:disabled::-webkit-slider-thumb {
  background: rgb(47,79,79);
}

.slide-box .current-value {
  display: block;
  text-align: center;

}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
}

#advanced-input ul {
  list-style: none;
  padding: 0;
}

#advanced li {
  margin-top: 15px;
}

#controller-state {
  position: absolute;
  right: 35px;
  top: -10px;
  width: 246px;
  height: 256px;
}
#controller-state h3 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

#controller-state ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #ccc
}

#controller-state li {
  padding: 3px 0;
}

#controller-state span {
  color: #888;
}

#error{
  color: rgb(255,0,0);
}

#error span {
  color: rgba(255,0,0,0.7);
}
